<div class='menu-ul'>
	<a href='data/list?table=spot' mdata='get' head="1,乐在奉化" template='travel_new' plugin='mySwiper,down-more' class='menu-li menu-li-first'><span class='glyphicon glyphicon-camera'></span>乐在奉化</a>

	<a href='data/list?table=eat' mdata='get' head="1,吃在奉化" template='eat_new' plugin='mySwiper,down-more' class='menu-li menu-li-second' ><span class='glyphicon glyphicon-cutlery'></span>吃在奉化</a>

	<a href='data/list?table=hotel' mdata='get' head="1,住在奉化" template='live_new' plugin='down-more,mySwiper' class='menu-li menu-li-third'><span class='glyphicon glyphicon-home'></span>住在奉化</a>

	<a href='data/list?table=center' mdata='get' head="1,购在奉化" template='shopping_new' plugin='down-more' class='menu-li menu-li-four'><span class='glyphicon glyphicon-shopping-cart'></span>购在奉化</a>
</div>